__pycache__
.coverage
.darglint
.env_dev
.flake8
.gitignore
.nox
.pre-commit-config.yaml
.pytest_cache
.ruff_cache
data
dist
LICENSE
nginx.conf
notebooks
noxfile.py
test.py
tests
my_project/**/__pycache__
